services:
  backend:
    build: .
    ports:
      - "${APP_PORT}:${APP_PORT}"
    env_file:
      - .env
    volumes:
      - .:/app
    depends_on:
      - db

  db:
    image: mysql:5.7.36
    restart: always
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      CORS_ORIGINS: http://localhost:3000
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "33066:3306"

volumes:
  db_data:
